@media only screen and (max-width: 1920px) {
    .banner__suptitle {
        font-size: 19px;
    }
    .banner__image {
        margin-left: 600px;
    }
}



@media only screen and (max-width: 1440px) {
    .banner__image {
        margin-left: 147px;
    }
}

@media only screen and (max-width: 1200px) {
    .button {
        margin-top: 40px;
    }
}

/* 
@media only screen and (max-width: 1100px) {
    .header {
        max-width: 100%;
    }
    
    .button {
        margin-top: 40px;
    }
} */


@media only screen and (max-width: 1000px) {
    .banner__image {
        margin-left: 0;
    }
       
    .banner__title {
        font-size: 45px;
    }
 
    .banner__suptitle{
        font-size: 20px;
    }

    .button {
        padding: 16px 22px;
    }
}


@media only screen and (max-width: 731px) {
    .header {
       max-width: 100%;
    }

    .banner {
        margin-top: 40px;
    }

    .adaptive__image__block {
        display: flex;
        justify-content: center;
    }

    .adaptive__image {
        display: block;
    }

    .banner__info {
        width: 500px;
        margin-top: 30px;
    }

    .banner__image {
        display: none;
    }
    
    .banner__title {
        font-size: 36px;
        text-align: center;
    }
 
    .banner__suptitle{
        font-size: 16px;
        text-align: center;
    }

    .button__block {
        display: flex;
        justify-content: center;
    }

    .button {
        padding: 16px 22px;
        margin-top: 60px;
    }
 
}


@media only screen and (max-width: 414px) {
    .wrapper {
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto;
    }

    .header {
        width: 100%;
    }
   
    .header__logo {
        margin-top: 16px;
        margin-bottom: 6px;
        
    }

    .header__nav {
        display: none;
    }

    .banner {
        margin-top: 72px;
    }
   
    .adaptive__image__block {
        display: flex;
        justify-content: center;
    }

    .adaptive__image {
        background-image: url(../image/manAdaptivee.png);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        display: block;
        margin-bottom: 64px;
        width: 240px;
        height: 240px;
    }

    .suptitle__container {
        width: 372px;
    }
    
    .banner__title {
        width: 348px;
        text-align: center;
    }

    .banner__suptitle {
        width: 372px;
        text-align: center;
        align-items: start;
    }

    .banner__title {
       font-size: 36px;
   }

   .banner__suptitle{
       font-size: 18px;
   }

   .image {
       display: none;
   }

   .button__container {
        display: flex;
        justify-content: center;
   }

   .button {
       padding: 16px 22px;
       margin-top: 48px;
   }
}

@media only screen and (max-width: 375px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    .header {
        width: 100%;
    }
   
    .header__logo {
        margin-top: 16px;
        margin-bottom: 6px;
        
    }

    /* .header__logo::after {
        background-image: url(../image/menuIcon.svg);
        display: block;
        width: 21px;
        height: 16px;
    } */

    .header__nav {
        display: none;
    }

    .banner {
        margin-top: 30px;
    }
   
    .adaptive__image__block {
        display: flex;
        justify-content: center;
    }

    .adaptive__image {
        background-image: url(../image/manAdaptivee.png);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        display: block;
        margin-bottom: 32px;
        width: 210px;
        height: 210px;
    }

    .banner__info {
        width: 300px;
    }

    .banner__container {
        width: 300px;
        margin-left: 20px;
    }

    .suptitle__container {
        width: 300px;
    }
    
    .banner__title {
        width: 300px;
        text-align: center;
    }

    .banner__suptitle {
        width: 300px;
        text-align: center;
        align-items: start;
    }

    .banner__title {
       font-size: 25px;
   }

   .banner__suptitle{
       font-size: 13px;
   }

   .image {
       display: none;
   }

   .button__container {
        display: flex;
        justify-content: center;
   }

   .button {
       padding: 16px 22px;
       margin-top: 30px;
   }
}

@media only screen and (max-width: 320px) {
    .wrapper {
        padding-right: 0px;
        padding-left: 0px;
        margin: 0;
    }

    .header__logo {
        margin-left: 15px;
    }

    .adaptive__image {
        background-image: url(../image/manAdaptivee.png);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        display: block;
        margin-bottom: 32px;
        width: 180px;
        height: 180px;
    }

    .banner__info {
        margin-right: 0;
    }

    .banner__title {
        font-size: 20px;
    }
 
    .banner__suptitle{
        font-size: 10px;
    }
}

/* Привет) */